.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-variation-settings: 'wght' var(--font-weigth-text);
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container {
  inline-size: var(--width);
  margin: 0 auto;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  color: var(--accent-color);
}

.header {
  margin-block: 100px;
  padding-block-start: clamp(7.5rem, 6.95rem + 2.347vw, 9.063rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  padding-block-end: 25px;
}

.header__title {
  font-family: var(--accent-font), fantasy;
  font-weight: var(--font-weigth-text);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 49px;
  padding-block-end: 33px;
}

.header__subtitle {
  font-family: var(--accent-font), fantasy;
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  line-height: 12px;
  padding-block-end: 30px;
}

.header__theme-menu {
  margin-left: 17px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 13px;
  font-size: 14px;
  list-style-position: outside;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: var(--accent-color);
  transform-origin: 0 0;
  transform: scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.theme-menu__button {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: start;
  text-transform: uppercase;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 15px;
  border: none;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -24px;
  top: 0;
  pointer-events: none;
  animation: pointer-animation 0.5s ease-in-out infinite alternate;
}

.theme-menu__item:hover > .theme-menu__button {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__item .theme-menu__button:disabled {
  opacity: 0.6;
  cursor: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible::after, .theme-menu__button:focus-visible {
  transform: scale(1);
  opacity: 0.6;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content__item-title {
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-variation-settings: 'wght' var(--font-weigth-title);
  font-size: 18px;
  line-height: 22px;
  padding: 5px 10px 3px;
  border-bottom: 2px solid var(--accent-color);
}

.content__image {
  position: relative;
  height: clamp(23.438rem, 16.329rem + 30.329vw, 43.625rem);
}

.label {
  position: absolute;
  top: clamp(1.5rem, 1.434rem + 0.282vw, 1.688rem);
  right: clamp(0.688rem, 0.379rem + 1.315vw, 1.563rem);
  font-size: 14px;
  line-height: 14px;
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-variation-settings: var(--font-weigth-title);
  z-index: 2;
  text-shadow:
  -1px 0 var(--watermark-border), 
 0 1px var(--watermark-border), 
 1px 0 var(--watermark-border), 
 0 -1px var(--watermark-border);
 background-blend-mode: hard-light;
 opacity: 0.5;
}

@supports((text-stroke: 0.05em var(--watermark-border)) or (-webkit-text-stroke: 0.05em var(--watermark-border))) {
  .label {
      -webkit-text-stroke: 0.05em var(--watermark-border);
      text-shadow: none;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brightness {
  filter: brightness(180%);
}

.invert {
  filter: invert(100%);
}

.multiple-filter {
  filter: opacity(0.9) saturate(67%) sepia(80%);
}

.sepia {
  filter: sepia(80%);
}

.grayscale {
  filter: grayscale(90%);
}

.saturate {
  filter: saturate(30%);
}

.contrast {
  filter: contrast(130%);
}

.hue-rotate {
  filter: hue-rotate(255deg);
}

.content {
  padding: 1.57em;
  border-top: 2px solid var(--accent-color);
}

.content__item-text {
  display: grid;
  grid-template-columns: auto;
  gap: 27px;
}

.content__text {
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.group__like-button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
  block-size: 38px;
  margin-top: 1.6em;
}

.card__icon-button {
  padding: 0;
  outline: none;
  background: transparent;
  border: 2px solid transparent;
  block-size: 100%;
  width: fit-content;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.like-icon {
  height: 100%;
  width: 39px;
  cursor: pointer;
}

.card__like-button {
  inline-size: 131px;
  block-size: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  position: relative;
  padding: 0;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font), fantasy;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 0 transparent ;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: inherit;
  background: var(--accent-color);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.5s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}  

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 90%;
  color: var(--accent-color);
  font-weight: 400;
}

.theme-light .button__text, .theme-light .floppy, .theme-light .dialog-text button {
  color: var(--bg-color);
}

.save-button {
  inline-size: 339px;
  block-size: 55px;
  flex-wrap: wrap;
  gap: 6px;
  padding: 15px;
  margin-block-end: 103px;
}

.floppy {
  mix-blend-mode: difference;
  height: 21px;
}

dialog[open] {
  top: 10px;
  padding: 0;
  width: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
  color: var(--accent-color);
  font-weight: var( --font-weigth-text);
  background-color: var(--bg-color);
}

dialog[open]::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog-text {
  padding: 30px 40px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 38px;
  gap: 30px;
}

.dialog-text > .floppy {
  grid-column: 1/ 1 span;
  grid-row: 1/ 1 span;
  align-self: center;
  height: 39px;
  aspect-ratio: 1/1;
}

.dialog-text .button__text {
  grid-column: 2/ 1 span;
  grid-row: 1/ 1 span;
  text-transform: uppercase;
  font-family: var(--accent-font), fantasy;
  line-height: 150%;
  font-size: 14px;
  font-weight: 400;
}

.dialog-text button {
  grid-column: 1/ 2 span;
  z-index: 2;
  grid-row: 2/ 3;
  text-transform: uppercase;
  align-self: center;
  border: 2px solid var(--accent-color);
  block-size: 100%;
}

@media (width <376px) {
  .page {
    inline-size: 100%;
  }

  .header {
    gap:20px;

  }
  
  .header__title {
    padding-block-end: 0px;
    font-size: 46px;
  }

  .header__subtitle {
    padding-block-end: 0;
  }

  .header__theme-menu {
    margin-left: 20px;
    margin-top: 6px;
  }

  .container {
    width: inherit;
  }
  
  .main {
    gap: 3.09em;
  }

  .group__like-button {
    margin-top: 1.49em;
  }

  .save-button {
    inline-size: 310px;
    height: 84px;
    gap: 11px;
    padding: 15px;
    margin-block-end: 100px;
  }
  
  .floppy {
    height: 28px;
  }

  dialog[open] {
    top: 0;
    width: clamp(343rem, 338.775rem + 18.028vw, 355rem);
  }

}



