/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --font-weigth-title: 700;
    --font-weigth-text: 400;

    --bg-color: rgba(255, 255, 255, 1);
    --accent-color: rgba(0, 0, 0, 1);
    --bg-image: repeating-linear-gradient(to right, rgba(211, 211, 211, 1), rgba(211, 211, 211, 1) 2px, rgba(211, 211, 211, 0) 2px, rgba(211, 211, 211, 0) 4px),repeating-linear-gradient(to top, rgba(211, 211, 211, 1), rgba(211, 211, 211, 1) 2px, rgba(211, 211, 211, 0) 2px, rgba(211, 211, 211, 0) 4px),
    linear-gradient(to bottom, rgba(231, 231, 231, 1) 0.01%, rgba(26, 26, 26, 1));
    
    --width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);

    --watermark-border: rgba(255, 255, 255, 1);
    --heart-contour: rgba(0, 0, 0, 1);
    --heart-fill: rgba(255, 0, 0, 1);
}